<section class="bk-gris-claro">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <h3 class="txt-h-bold-condensada tama_13">FACEGOL</h3>
                <ul class="txt-h-condensada tama_13">
                    <li> <%= link_to "El Portal", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Federaciones", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Clubes", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Equipos", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Campos", "#", :class => "enlace_gris" %> </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3 class="txt-h-bold-condensada tama_13"> INFORMACIÓN LEGAL </h3>
                <ul class="txt-h-condensada tama_13">
                    <li> <%= link_to "Términos y Condiciones", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Políticas de Privacidad", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Políticas de Cookies", "#", :class => "enlace_gris" %> </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3 class="txt-h-bold-condensada tama_13"> CONTÁCTANOS </h3>
                <ul class="txt-h-condensada tama_13">
                    <li> <%= link_to "Forma parte de nosotros", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Como contactarnos", "#", :class => "enlace_gris" %> </li>
                    <li> <%= link_to "Da un empuje a tu carrera. Registrate con nosotros.", "#", :class => "enlace_gris" %> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bk-gris">
    <div class="container relleno_t-b">
        <div class="row text-center txt-h-condensada tama_15 txt-blanco">
            <div class="col-sm-8">
            TODOS LOS DERECHOS RESERVADOS  FaceGol 2017 © COPYRIGHT 2017
        </div>
        <div class="col-sm-2">
            <a href="mailto:info@facegol.com" class="enlace_amarillo">info@facegol.com</a>
        </div>
        <div class="col-sm-2">
            <%= link_to image_tag("logo-gris-face.png", :height => '20px'), "https://www.facebook.com/oficial.facegol",
              :class => "boton-blanco-redondo", :title => "Facebook", :target => "_blank" %>


            <%= link_to image_tag("logo-gris-twitter.png", :height => '20px'), "https://twitter.com/Facegol_Oficial",
              :class => "boton-blanco-redondo", :title => "Twitter", :target => "_blank" %>

            <%= link_to image_tag("logo-gris-youtube.png", :height => '20px'), "https://www.youtube.com/channel/UCwy1k2ohI6DnKBjYEkg4mqw",
              :class => "boton-blanco-redondo", :title => "YouTube", :target => "_blank" %>

            <%= link_to image_tag("logo-gris-instagram.png", :height => '20px'), "https://www.instagram.com/facegol.oficial",
              :class => "boton-blanco-redondo", :title => "Instagram", :target => "_blank" %>
        </div>
        </div>
    </div>
</section>


<%#*r: <%= session[:rol_id] %>
